<footer>
  <md-toolbar class="md-accent" layout="row"  layout-align="space-around center">
    <span ><a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a> &copy; {{::$ctrl.date | date:'yyyy'}}. </span>
    
    <span >
      <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/> </a>
    </span>
  </div>
</md-toolbar>
