<md-toolbar  layout="row" layout-align="left center">
  <md-button layout-align="center center"  aria-label="settings" ng-click="$ctrl.settingsClick()" ><md-icon class="ion-ios-gear md-md"></md-icon></md-button>
  <h3>{{$ctrl.appName}} </h3>
</md-toolbar>
