 <md-content layout-padding>
   <div layout="row" ng-if="$ctrl.showSettings" layout-align="center center">

     <input type="text" g-places-autocomplete ng-model="$ctrl.address" placeholder="City name" force-selection="true" />
     
     <md-button ng-click="$ctrl.clickApply($event)">Apply</md-button>
   </div>
  <!-- current weather -->
  <div layout="row" >
      <weather-tile winfo="$ctrl.weatherInfo" size="'large'" layout-fill></weather-tile>
  </div>
  <!-- forecast -->
  <div layout="row">
    <weather-tile ng-repeat="cast in $ctrl.wForecast" winfo="cast" size="'small'"></weather-info>
  </div>
</md-content>
