<md-card  >
  <md-card-title>
    <md-card-title-text>
        <span class="md-headline">{{$ctrl.winfo.title}} {{$ctrl.test()}}</span>
        <span class="md-subhead">{{$ctrl.winfo.date}}</span>
        <div layout="row" class="md-body-2">
          <span ng-if="$ctrl.winfo.temp > 0"> current: {{$ctrl.winfo.temp}} {{$ctrl.winfo.units.temperature}}&deg; &nbsp;</span>
          <span > max: {{$ctrl.winfo.high}} {{$ctrl.winfo.units.temperature}}&deg; &nbsp;</span>
          <span > min: {{$ctrl.winfo.low}} {{$ctrl.winfo.units.temperature}}&deg; &nbsp;</span>
        </div>
        <span  class="md-body-2">{{$ctrl.winfo.text}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class=" card-media " ng-class="{'md-media-lg':($ctrl.size==='large'), 'md-media-md':($ctrl.size==='medium'), 'md-media-sm':($ctrl.size==='small')}">
        <i class="wi {{$ctrl.winfo.icon}} "  ng-class="{'weather-icon-lg':($ctrl.size==='large'), 'weather-icon-md':($ctrl.size==='medium'), 'weather-icon-sm':($ctrl.size==='small')}"></i></div>
    </md-card-title-media>
  </md-card-title>
</md-card>
