@import '../../../node_modules/angular-material/angular-material.scss';

$font-sm : 24px;
$font-md : 36px;
$font-lg : 48px;


.md-menu-bar {
	.md-menu {
		button {
			color:#FFFFFF;
		}
	}
}
.md-sm {
	font-size: $font-sm;
}
.md-md {
	font-size: $font-md;
}
.md-lg {
	font-size:$font-lg;
}
.weather-icon-lg {
	font-size: 96px;
}
.weather-icon-md {
	font-size: 64px;
}
.weather-icon-sm {
	font-size: 36px;
}

.pac-container {
	background-color:#FFFFFF;
	opacity: 0.8;
	padding:5px;
}

md-toolbar {
	md-icon.md-md {
		margin-top: -12px;
	}
}
